header{
    background-color: pink;
}

.return{
    padding-top: 150px;
    font-size: 40px;
}

.month{
    margin: 0px;
    color: green;
    text-align: center;
    padding: 25px 50px 50px;
    background-color: pink;
    
}

.month .prev{
    float: left;
}

.month .next{
    float: right;
}

.weekdays li{
    display: inline-block;
    width: 13.5%;
    text-align: center;
}

.days li{
    display: inline-block;
    width: 13.5%;
    text-align: center;
    padding: 35px 0px;
    font-size: 20px;
}

ul.a{
    list-style-type: none;
}







