{% extends 'base.html' %}

{% block head %}
<title>Propane 354 Employee Qualification Add</title>
{% endblock %}

{% block body %}
<div class="content">
    <form method='GET' action="/employee-list"><button class="back">Back</button></form>
    <h1 style="text-align: center">Propane 354 Employee Add</h1>

    <form action="/employee-qualification-add" method="POST" style="text-align: center">
        <div class="grid">
            <label for="first_name">First Name:</label>
            <select name="first_name" id="first_name">
                <option value="Select">Select</option>
                {% for employee in employees %}
                <option value="{{ employee[0] }}">{{ employee[0] }}</option>
                {% endfor %}
            </select>
            <label for="qualification">Qualification:</label>
            <input type="text" name="qualification" id="qualification">
        </div>
        <input type="submit" value="Add Qualification" class="button">
    </form>
</div>
{% endblock %}