{% extends 'base.html' %}

{% block head %}
<title>Propane 354 Employee List</title>
{% endblock %}

{% block body %}
<div class="content">
    <form method='GET' action="/home"><button class="back">Back</button></form>
    <h1 style="text-align: center">Propane 354 Employee List</h1>

    <div class="data">
        {% for table in tables %}
        {{ table|safe }}
        {% endfor %}
    </div>
    <br>
    <form method='POST' action="/employee-list">
        <div class="grid">
            <label for="filter">Filter:</label>
            <select name="filter" id="filter">
                <option value="all" {{'selected' if filter == "all"}}>Nothing (select all)</option>
                <option value="tank" {{'selected' if filter == "tank"}}>Worked with all tanks</option>
                <option value="truck" {{'selected' if filter == "truck"}}>Worked with all trucks</option>
            </select>
        </div>
        <input type="submit" value="Filter" class="button">
    </form>
    <br><br>
    <form method='GET' action="/employee-list/add"><button class="button">Add Employee</button></form>
    <form method='GET' action="/employee-qualification-add"><button class="button">Add Employee Qualification</button></form>
</div>
{% endblock %}