{% extends 'base.html' %}

{% block head %}
<title>Propane 354 Home</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Propane 354 Home</h1>

    <div class="content">
        <a href="/inventory" class="button">Inventory</a> <br>
        <a href="/work-order" class="button">Work Order</a> <br>
        <a href="/employee-list" class="button">Employee List</a> <br>
        <a href="/customers" class="button">Customers</a> <br>
        <a href="/vehicles" class="button">Vehicles</a> <br>
        <a href="/calendar" class="button">Calendar</a> <br>
    </div>
</div>
{% endblock %}