{% extends 'base.html' %}

{% block head %}
<title>Propane 354 Inventory</title>
{% endblock %}

{% block body %}
<div class="content">
    <form method='GET' action="/home"><button class="back">Back</button></form>
    <h1 style="text-align: center">Propane 354 Inventory</h1>

    <form action="/inventory/list" method="POST" style="text-align: center">
        <div class="grid">
            <label for="group-by">Group By:</label>
            <select name="group-by" id="group-by">
                <option value="all">Nothing (select all)</option>
                <option value="manufacturer">Manufacturer</option>
                <option value="type_of_tank">Type of Tank</option>
                <option value="liquid_vapor">Liquid/Vapour</option>
                <option value="quick_fill">Quick Fill</option>
            </select>
        </div>
        <input type="submit" value="Search" class="button">
    </form>
    <form method='GET' action="/inventory/add">
        <button class="button">Add Item</button>
    </form>
</div>
{% endblock %}