{% extends 'base.html' %}

{% block head %}
<title>Propane 354 Inventory List</title>
{% endblock %}

{% block body %}
<div class="content">
    <form method='GET' action="/inventory"><button class="back">Back</button></form>
    <h1 style="text-align: center">Propane 354 Inventory List</h1>

    <table>
        <tr>
            <th>Quantity</th>
            <th>{{ group_by }}</th>
        </tr>
        {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
	{% endfor %}
    </table>
</div>
{% endblock %}