{% extends 'base.html' %}

{% block head %}
<title>Propane 354 Login</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Propane 354 Login</h1>

    <form action="/" method="POST" style="text-align: center">
        <div class="grid">
            <label for="first_name">First Name:</label>
            <select name="first_name" id="first_name">
                <option value="Select">Select</option>
                {% for employee in employees %}
                <option value="{{ employee[0] }}">{{ employee[0] }}</option>
                {% endfor %}
            </select>
            <label for="id">ID:</label>
            <input type="password" name="id" id="id">
        </div>
        <input type="submit" value="Login" class="button">
    </form>

    {% if loginFailed == true %}
    <div class="failed-login">
        <h4 style="text-align: center; color:Red">Login info was incorrect.<br>Please try again</h4>
    </div>
    {% endif %}
</div>
{% endblock %}