{% extends 'base.html' %}

{% block head %}
<title>Propane 354 Work Order Create</title>
{% endblock %}

{% block body %}
<div class="content">
	<form method='GET' action="/work-order"><button class="back">Back</button></form>
	<h1 style="text-align: center">Propane 354 Work Order Create</h1>

	<form action="/work-order/create" method="POST">
		<div class="grid">
			<label for="rush_status">Rush Status:</label>
			<select name="rush_status" id="rush_status">
				<option value="Select">Select</option>
				<option value="Standard">Standard</option>
				<option value="Express">Express</option>
				<option value="Same Day">Same Day</option>
			</select>
			<label for="customer">Customer:</label>
			<input type="text" name="customer" id="customer">
			<label for="po_number">PO Number:</label>
			<input type="text" name="po_number" id="po_number">
			<label for="work_to_be_done">Work To Be Done:</label>
			<input type="text" name="work_to_be_done" id="work_to_be_done">
			<label for="tank_size">Tank Size:</label>
			<input type="text" name="tank_size" id="tank_size">
			<label for="tank_material">Tank Material:</label>
			<select name="tank_material" id="tank_material">
				<option value="Select">Select</option>
				<option value="steel">Steel</option>
				<option value="aluminium">Aluminium</option>
				<option value="fibreglass">Fibreglass</option>
			</select>
			<label for="liquid_vapour">Liquid/Vapour:</label>
			<select name="liquid_vapour" id="liquid_vapour">
				<option value="Select">Select</option>
				<option value="liquid">Liquid</option>
				<option value="vapour">Vapour</option>
			</select>
			<label for="qf">QF:</label>
			<input type="text" name="qf" id="qf">
			<label for="form_factor">Form Factor:</label>
			<input type="text" name="form_factor" id="form_factor">
		</div>
		<input type="submit" value="Create" class="button">
	</form>
	
</div>

{% endblock %}